/* Reset default margin and padding */
body, div, h1, h2, h3, h4, p {
    margin: 0;
    padding: 0;
}

body {
    background-color: #000;
    color: #fff;
    font-family: Arial, sans-serif;
}

.center-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.top-text {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
    max-width: 100%; /* Allow the buttons to squeeze in on smaller screens */
}

.menu-button {
    padding: 10px 20px;
    background-color: #000;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: color 0.5s ease;
    border: none;
    outline: none;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.menu-button:hover {
    color: #ff0000;
}

.soundcloud-tracks {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    width: 100%; /* Occupy the full width */
}

.soundcloud-track {
    width: 30%; /* Initially set to 10% of the container width */
    max-width: 100%; /* Allow to expand up to full width */
    margin-top: 20px; /* Adjust as needed */
}

.home-button {
    width: 100px;
    height: auto;
    position: relative;
    margin-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transform: scale(0.85);
    bottom: -250px; /* Adjust as needed */
}

.home-button:hover .home-image {
    content: url('crowned skull red.png');
}

/* Added for responsiveness */
@media (max-width: 600px) {
    .home-button {
        width: 80px;
    }

    .menu-button {
        padding: 5px 10px;
    }
}
