body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #000000; /* Set the background color to black */
    flex-direction: column; /* Stack content vertically on smaller screens */
}

.center-container {
    text-align: center;
    margin: 20px; /* Add some margin around the content */
}

.top-text {
    font-family: "Arial Black", sans-serif;
    font-size: 24px;
    margin-top: 0; /* Remove default margin from the h1 element */
    color: #ffffff; /* Set text color to white */
}
