body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #000000; /* Set the background color of home.html to black */
    flex-direction: column; /* Stack content vertically on smaller screens */
}

.center-container {
    text-align: center;
    margin: 20px; /* Add some margin around the content */
}

.top-text {
    font-family: "Arial Narrow", sans-serif;
    font-size: 24px;
    margin-top: 0; /* Remove default margin from the div element */
    color: #ffffff; /* Set text color to white */
    display: flex;
    justify-content: space-between; /* Spread the spans evenly */
    width: 100%; /* Ensure the spans span the full width */
}
